{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <h1>Din e-mail är nu verifierad!</h1>
    <p><a href="/">Klicka här</a> för att gå tillbaka till din dashboard.</p>
</div>
{% end %}

{% block scripts %}

{% end %}