{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Mail utskickat</h1>
    <p>
        {{success}}
        <a href="/">Klicka här</a>
        för att gå tillbaka
    </p>
</div>
{% end %}

{% block scripts %}

{% end %}