{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Lösenord återställt</h1>
    <p>
        Mail är utskickat nu med ditt nya lösenord.
        <a href="/">Klicka här</a>
        för att gå tillbaka
    </p>
</div>
{% end %}

{% block scripts %}

{% end %}