#activity {
    margin-top: 2em;
}

.admin_statistics {
    margin-bottom: 1em !important;
}

.ui.inverted.menu {
    border-radius: 0 0 0 0;
}

#content {
    min-height: 100px;
}

.ui.grid {
    padding: 0 !important;
}

body {
    padding-top: 6rem !important;
}

.ui.segment.footer {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

#fullBackground {
    margin-bottom: 1rem;
}

.pusher {
    padding-top: 6rem;
}

td.details-control {
    background: url('/static/img/plus.svg') no-repeat center center;
    background-size: 50%;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/static/img/minus.svg') no-repeat center center;
    background-size: 50%;
}

.ui.sidebar.vertical.menu {
    top: 2.85714286em;
}

@media (min-width: 992px) {
    #mapUser {
        position: absolute;
        top: 53px;
        left: 0;
        width: 100%;
        height: calc(100% - 53px);
    }
}

@media (max-width: 991px) {
    #mapUser {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
    }
}

#map {
    min-height: 500px;
    height: 90%;
}

#mapButton {
    margin-top: -1rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15) !important;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15) !important;
}

#userCard {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}