{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <form class="ui form" method="post">
                {% module xsrf_form_html() %}
                <div class="field">
                    <label>Namn på kategorin</label>
                    <input type="text" name="name" placeholder="Namn">
                </div>
                <div class="field">
                    <label>Beskrivning</label>
                    <input type="text" name="description" placeholder="Beskrivning">
                </div>
                <div class="field">
                    <label>URL för mer information</label>
                    <input type="text" name="infoUrl" placeholder="https://www.piratpartiet.se/">
                </div>
                <div id="errorMessage" class="ui error message"></div>
                <div id="successMessage" class="ui success message"></div>
                <a href="/admin/categories" class="ui icon button"><i class="arrow left icon"></i> Tillbaka</a>
                <div class="ui right floated green submit icon button">Skapa <i class="check icon"></i></div>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/jquery.serialize-object.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [{ type: 'empty', prompt: 'Ange namn' }]
                },
                description: {
                    identifier: 'description'
                },
                infoUrl: {
                    identifier: 'infoUrl',
                    rules: [{ type: 'empty', prompt: 'Ange en länk som ger information angående categoryet' }]
                }
            }
        }).api({
            url: '/api/category',
            serializeForm: true,
            method: 'POST',
            onSuccess: function (response) {
                console.log(response);

                switch (response['reason']) {
                    case "CREATED CATEGORY":
                        $('#successMessage').html('<li class="list">Kategorin med namnet: ' + response['data']['category']['name'] + ' skapad</li>');
                        $('#successMessage').show();
                        break;
                }
            },
            onFailure: function (response) {
                console.log(response);
                $('#successMessage').hide();

                switch (response['reason']) {
                    case "NAME IS MISSING":
                        $('#errorMessage').html('<li class="list">Namn saknades</li>');
                        break;
                    default:
                        $('#errorProfile').html('<ul class="list"><li>Okänt fel inträffade, försök igen senare</li></ul>');
                }
            }
        });
    });
</script>
{% end %}