{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <form class="ui form" method="post">
                {% module xsrf_form_html() %}
                <div class="field">
                    <label>Användarnamn</label>
                    <input type="text" name="name" placeholder="Användarnamn">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input type="text" name="email" placeholder="E-mail adress">
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Lösenord</label>
                            <input type="password" name="password">
                        </div>
                        <div class="field">
                            <label>Upprepa lösenord</label>
                            <input type="password" name="password2">
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="verified_email">
                            <label>Verifierad E-mail</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="verified">
                            <label>Verifierad medlem i partiet</label>
                        </div>
                    </div>
                </div>
                <div id="errorMessage" class="ui error message"></div>
                <div id="successMessage" class="ui success message"></div>
                <a href="/admin/users" class="ui icon button"><i class="arrow left icon"></i> Tillbaka</a>
                <div class="ui right floated green submit icon button">Skapa <i class="check icon"></i></div>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/jquery.serialize-object.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [{ type: 'empty', prompt: 'Ange namn' }]
                },
                email: {
                    identifier: 'email',
                    rules: [{ type: 'email', prompt: 'Ange en giltig email adress' }]
                },
                password: {
                    identifier: 'password',
                    rules: [{ type: 'empty', prompt: 'Ange lösenord' }]
                },
                password2: {
                    identifier: 'password2',
                    rules: [{ type: 'empty', prompt: 'Bekräfta lösenord' }]
                },
                verified_email: {
                    identifier: 'verified_email'
                },
                verified: {
                    identifier: 'verified'
                }
            }
        }).api({
            url: '/api/user',
            serializeForm: true,
            method: 'POST',
            onSuccess: function (response) {
                console.log(response);

                switch (response['reason']) {
                    case "CREATED USER":
                        $('#successMessage').html('<li class="list">Användare med e-mail: ' + response['data']['user']['email'] + ' skapad</li>');
                        $('#successMessage').show();
                        break;
                }
            },
            onFailure: function (response) {
                console.log(response);
                $('#successMessage').hide();

                switch (response['reason']) {
                    case "PASSWORDS DO NOT MATCH":
                        $('#errorMessage').html('<li class="list">Lösenorden matchar inte med varandra</li>');
                        break;
                    case "USER WITH THAT E-MAIL ALREADY EXIST":
                        $('#errorMessage').html('<li class="list">E-mail adressen används redan</li>');
                        break;
                    default:
                        $('#errorMessage').html('<li class="list">Okänt fel inträffade, försök igen senare</li>');
                        break;
                }
            }
        });
    });
</script>
{% end %}