{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <form class="ui form" method="post">
                {% module xsrf_form_html() %}
                <div class="field">
                    <label>Gruppnamn</label>
                    <input type="text" name="name" placeholder="Gruppnamn">
                </div>
                <div class="field">
                    <label>Behörighetsnivå (mindre nummer betyder mer behörighet)</label>
                    <input type="number" name="level" placeholder="99">
                </div>
                <div class="ui segment">
                    {% for id, name in permissions.items() %}
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="{{ id }}">
                            <label>{{ name }}</label>
                        </div>
                    </div>
                    {% end %}
                </div>
                <div id="errorMessage" class="ui error message"></div>
                <div id="successMessage" class="ui success message"></div>
                <a href="/admin/groups" class="ui icon button"><i class="arrow left icon"></i> Tillbaka</a>
                <div class="ui right floated green submit icon button">Skapa <i class="check icon"></i></div>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/jquery.serialize-object.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [{ type: 'empty', prompt: 'Ange namn' }]
                },
                level: {
                    identifier: 'level',
                    rules: [{ type: 'empty', prompt: 'Ange behörighetsnivån på denna grupp' }]
                }
            }
        }).api({
            url: '/api/group/',
            serializeForm: true,
            method: 'POST',
            onSuccess: function (response) {
                console.log(response);

                switch (response['reason']) {
                    case "CREATED GROUP":
                        $('#successMessage').html('<li class="list">Grupp med namn: ' + response['data']['group']['name'] + ' skapad</li>');
                        $('#successMessage').show();
                        break;
                }
            },
            onFailure: function (response) {
                console.log(response);
                $('#successMessage').hide();

                switch (response['reason']) {
                    case "GROUP WITH THAT NAME ALREADY EXIST":
                        $('#errorMessage').html('<li class="list">Grupp med det namnet används redan</li>');
                        break;
                }
            }
        });
    });
</script>
{% end %}