{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui secondary pointing menu">
                {% if view is 0 %}
                    <a class="item active" href="/admin">Översikt</a>
                {% else %}
                    <a class="item" href="/admin">Översikt</a>
                {% end %}
                {% if view is 1 %}
                    <a class="item active" href="/admin/users">Användare</a>
                {% else %}
                    <a class="item" href="/admin/users">Användare</a>
                {% end %}
                {% if view is 2 %}
                    <a class="item active" href="/admin/groups">Grupper</a>
                {% else %}
                    <a class="item" href="/admin/groups">Grupper</a>
                {% end %}
                {% if view is 3 %}
                    <a class="item active" href="/admin/categories">Koder och kategorier</a>
                {% else %}
                    <a class="item" href="/admin/categories">Koder och kategorier</a>
                {% end %}
            </div>
            {% block page %}{% end %}
        </div>
    </div>
</div>
{% end %}