{% extends "admin.html" %}

{% block page %}
<div class="row">
    <a href="/admin/add/category" class="ui primary labeled icon button" style="margin-bottom: 1rem;">
        <i class="table icon"></i> Lägg till kategori
    </a>
    <div class="ui cards">
        {% for category in categories %}
        <div class="card">
            <div class="content">
                <div class="header">{{ category.name }}</div>
                <div class="description">
                    {{ category.description }}
                </div>
            </div>
            <div class="extra content">
                <div class="ui three buttons">
                    <a class="ui primary icon button" href="/admin/categories/{{ category.id }}">
                        <i class="edit icon"></i>
                    </a>
                    <a class="ui icon button">
                        <i class="cloud download icon"></i>
                    </a>
                    <a class="negative ui icon button">
                        <i class="trash alternate icon"></i>
                    </a>
                </div>
            </div>
        </div>
        {% end %}
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/admin/groups.js') }}"></script>
{% end %}