{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header">{{ category.name }}</h1>
            <p>{{ category.description }}</p>
            <a class="ui button" href="/admin/categories">
                <i class="arrow left icon"></i>
                Tillbaka
            </a>
            <div class="ui icon input" >
              <input type="number" id="numberCodes" placeholder="1">
            </div>
            <button id="createCodes" class="ui primary button">
                Skapa QR-koder
            </button>
            <a id="getCodes" class="ui button">
                <!-- TODO: let you download all or something? -->
                Hämta QR-koder
            </a>
        </div>
    </div>
    <table id="codeTable" class="ui selectable celled table">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Registrerad</th>
                <th>QR-kod</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot class="full-width">
            <tr>
                <th colspan="3">
                    {% module xsrf_form_html() %}
                    <div id="mark" class="ui small labeled button">
                        <div class="ui small green icon button">
                            <i class="check icon"></i> Markera
                        </div>
                        <a id="markCount" class="ui basic green left pointing label">0</a>
                    </div>
                    <div id="removeUsers" class="ui small labeled button">
                        <div class="ui small red icon button">
                            <i class="x icon"></i> Ta bort
                        </div>
                        <a id="removeCount" class="ui basic red left pointing label">0</a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    {% module xsrf_form_html() %}
    <input type="hidden" name="_category_id" value="{{ category.id }}">
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/datatables.js') }}"></script>
<script src="{{ static_url('js/admin/category_handler.js') }}"></script>
{% end %}
