{% extends "admin.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/lib/datatables.min.css') }}" />
{% end %}

{% block page %}
<div class="row">
    <div class="ui small statistic admin_statistics">
        <div class="value">
            {{ group_count }}
        </div>
        <div class="label">
            Grupper
        </div>
    </div>
</div>
<table id="groupTable" class="ui selectable celled table" style="width: 100%;">
    <thead>
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Antal användare</th>
            <th>Skapad</th>
            <th>Nivå</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot class="full-width">
        <tr>
            <th colspan="5">
                {% module xsrf_form_html() %}
                <a href="/admin/add/group" class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Lägg till grupp
                </a>
                <div id="removeGroups" class="ui small labeled button">
                    <div class="ui small red icon button">
                        <i class="x icon"></i> Ta bort
                    </div>
                    <a id="removeGroupCount" class="ui basic red left pointing label">0</a>
                </div>
                <div id="editGroup" class="ui small disabled icon button">
                    <i class="edit icon"></i> Redigera
                </div>
            </th>
        </tr>
    </tfoot>
</table>
<div id="errorMessage" class="ui error message" style="display: none;"></div>
<div id="successMessage" class="ui success message" style="display: none;"></div>
<div class="ui modal">
    <i class="close icon"></i>
    <div id="editTitle" class="header">
        Redigera
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Namn</label>
                <input name="groupname" type="text" placeholder="Gruppnamn">
            </div>
            <div class="field">
                <label>Nivå</label>
                <input name="level" type="number" placeholder="99" min="0" max="100000">
            </div>
        </form>
    </div>
    <div class="actions">
        <div id="saveChanges" class="ui positive right labeled icon button">
            Spara ändringar
            <i class="save icon"></i>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/datatables.js') }}"></script>
<script src="{{ static_url('js/admin/groups.js') }}"></script>
{% end %}