{% extends "admin.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/lib/leaflet.css') }}"/>
{% end %}

{% block page %}
<h1 class="header">
<div class="ui statistics">
    <div class="mini statistic">
        <div class="value">
            {{ user_count }}
        </div>
        <div class="label">
            Användare
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            {{ verified_count }}
        </div>
        <div class="label">
            Verifierade partimedlemmar
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            {{ group_count }}
        </div>
        <div class="label">
            Grupper
        </div>
    </div>
</div>
</h1>
<div id="map"></div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/leaflet.js') }}"></script>
<script src="{{ static_url('js/admin/summary.js') }}"></script>
{% end %}