{% extends "admin.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/lib/datatables.min.css') }}" />
{% end %}

{% block page %}
<div class="row admin_statistics">
    <div class="ui small statistic">
        <div class="value">
            {{ user_count }}
        </div>
        <div class="label">
            Användare
        </div>
    </div>
</div>
<table id="userTable" class="ui selectable celled table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Registrerad</th>
            <th>E-mail</th>
            <th>Partimedlem</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot class="full-width">
        <tr>
            <th colspan="4">
                {% module xsrf_form_html() %}
                <a href="/admin/add/user" class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Lägg till användare
                </a>
                <div id="verifyUsers" class="ui small labeled button">
                    <div class="ui small green icon button">
                        <i class="check icon"></i> Verifiera
                    </div>
                    <a id="verifyCount" class="ui basic green left pointing label">0</a>
                </div>
                <div id="removeUsers" class="ui small labeled button">
                    <div class="ui small red icon button">
                        <i class="x icon"></i> Ta bort
                    </div>
                    <a id="removeCount" class="ui basic red left pointing label">0</a>
                </div>
                <div id="editUsers" class="ui small disabled icon button">
                    <i class="edit icon"></i> Redigera
                </div>
            </th>
        </tr>
    </tfoot>
</table>
<div id="errorMessage" class="ui error message" style="display: none;"></div>
<div id="successMessage" class="ui success message" style="display: none;"></div>
<div class="ui modal">
    <i class="close icon"></i>
    <div id="editTitle" class="header">
        Redigera
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Namn</label>
                <input name="username" type="text" placeholder="Användarnamn">
            </div>
            <div class="field">
                <label>E-mail</label>
                <input name="email" type="email" placeholder="email@piratpartiet.se">
            </div>
            <div class="field">
                <select name="groups" multiple="" class="ui fluid search dropdown">
                    <option value="">Grupper</option>
                    {% for group in groups %}
                        <option value="{{ group.id.__str__() }}">{{ group.name }}</option>
                    {% end %}
                </select>
            </div>
        </form>
    </div>
    <div class="actions">
        <div id="saveChanges" class="ui positive right labeled icon button">
            Spara ändringar
            <i class="save icon"></i>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/datatables.js') }}"></script>
<script src="{{ static_url('js/admin/users.js') }}"></script>
{% end %}