{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Felaktig förfrågan</h1>
    <p>
        <b>400: Bad request</b>
        <br/>
        Det gick inte att fullfölja förfrågan. <a href="/">Klicka här för att gå tillbaka</a>
    </p>
</div>
{% end %}

{% block scripts %}

{% end %}