{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Du har inte tillstånd till denna resurs</h1>
    <p>Endast användare med rätt tillstånd har rätt att se denna resurs.</p>
</div>
{% end %}

{% block scripts %}

{% end %}