{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Denna sida kunde ej hittas!</h1>
    <p>Denna sida har antingen blivit flyttad eller aldrig funnits. <a href="/">Klicka här för att gå tillbaka</a></p>
</div>
{% end %}

{% block scripts %}

{% end %}