{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Ej tillåten metod</h1>
    <p>
        <b>405: Method not allowed</b>
        <br/>
        <a href="/">Klicka här för att gå tillbaka</a>
    </p>
</div>
{% end %}

{% block scripts %}

{% end %}