{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui container">
    <h1>Någonting gick fel</h1>
    <p>
        <b>500: Internal Server Error</b>
        <br/>
        Det gick inte att fullfölja förfrågan på grund av ett fel på vår sida.
        <a href="/">Klicka här för att gå tillbaka</a>
    </p>
</div>
{% end %}

{% block scripts %}

{% end %}