{% extends "../navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <h1>Du är tyvärr overifierad</h1>
    <p>Endast användare som är verifierade medlemmar i Piratpartiet har åtkomst till topplistorna. Du kan bli medlem i Piratpartiet på <a href="https://blipirat.nu">blipirat.nu</a>.</p>
</div>
{% end %}

{% block scripts %}

{% end %}