{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui text container" style="min-height: 100%;">
    <h1>Piratjakten</h1>
    <p>
        Piratjakten är ett spel skapat av Piratpartiet som liknar
        <a href="https://www.geocaching.com/play">Geocaching</a>. Syftet med spelet är att göra aktivism roligare
        igenom att låta aktivister samla poäng när de bland annat sätter upp affischer.
    </p>
    <p><a href="/">Klicka här</a> för att gå tillbaka.</p>
</div>
{% end %}

{% block scripts %}

{% end %}