{% extends "../base.html" %}

{% block body %}
<div id="main" class="ui text container" style="min-height: 100%;">
    <h1 class="ui header">Piratjaktens Integritets policy</h1>
    <h2 class="ui header">Vilka vi är</h2>
    <p>
        Piratpartiet står bakom Piratjakten, mer om oss hittas på vår hemsida:
        <a href="https://piratpartiet.se">piratpartiet.se</a>
    </p>
    <h2>Vilka personuppgifter vi samlar in och varför vi samlar in dem</h2>
    <h3>Kontouppgifter</h3>
    <p>För att skapa ett konto på Piratjakten så måste vi ha följande information: </p>
    <ul>
        <li>E-mail adress</li>
        <li>Användarnamn</li>
        <li>Lösenord</li>
    </ul>
    <p>
        E-mail behövs för att kolla om den finns med i vårt medlemsregister och på så sätt kunna verifiera om användaren
        är medlem i partiet.
    </p>
    <p>
        De enda som har tillgång till användaruppgifterna är sidans administratörer.
    </p>
    <h3>Webbkakor</h3>
        Vi använder oss av kakor för att spara din session för att du ska kunna förbli inloggad mellan besök.
        Kakorna kan tas bort närsomhelst,
        <a href="https://support.mozilla.org/sv/kb/rensa-kakor-och-webbplatsdata-firefox">
        exempel på hur man tar bort kakor i Firefox</a>
    <h3>Platsinformation</h3>
    <p>
        Ifall man är inloggad och scannar en kod så kommer man få en förfrågan om man vill dela sin plats med
        Piratjakten. Detta är <em>EJ</em> tvingande att göra och man kan säga nej till det utan att det påverkar någon
        funktionalitet för användaren. Anledningen varför vi samlar in platsinformationen är för att vi ska få en bättre
        överblick över vart våra QR-koder befinner sig.
    </p>
    <h3>Analys</h3>
    <h2>Vilka vi delar data med</h2>
    <p>Vi delar inte någon data, med någon annan.</p>
    <h2>Hur länge vi behåller era uppgifter</h2>
    <p>
        Användare som registrerar sig på Piratjakten kommer ha kvar sina uppgifter där ifall de inte vill ha dem
        borttagna. Anledningen till detta är för att dina handlingar kan påverka poängen för andra användare.
        Användare kan se, redigera eller radera sina uppgifter när som helst. Även webbplatsens administratörer kan se
        och redigera denna information.
    </p>
    <h2>Vilka rättigheter du har över dina data</h2>
    <p>
        Om du har ett konto eller har skrivit några kommentarer på denna webbplats kan du begära en exportfil med de
        personuppgifter vi har om dig, inklusive alla uppgifter du har gett oss. Du kan också begära att vi tar bort
        alla personuppgifter vi har om dig. Detta omfattar inte eventuella uppgifter som vi är tvungna att spara av
        administrativa, legala eller säkerhetsändamål.
    </p>
    <p><em>Denna text kan/kommer att uppdateras löpande varteftersom…</em></p>
    <p><a href="/">Klicka här</a> för att gå tillbaka.</p>
    <br/>
    <br/>
    <br/>
</div>
{% end %}

{% block scripts %}

{% end %}