<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Piratpartiet">
        <meta name="referrer" content="no-referrer, same-origin">
        <title>{% block title %}Piratjakten{% end %}</title>
        <link rel="icon" href="{{ static_url('img/icon.png') }}">
        <link rel="stylesheet" href="{{ static_url('css/lib/semantic.min.css') }}" />
        <link rel="stylesheet" href="{{ static_url('css/fonts.css') }}" />
        <link rel="stylesheet" href="{{ static_url('css/app.css') }}" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, minimum-scale=0.25, maximum-scale=5.0, width=device-width">
        {% block head %}{% end %}
    </head>
    <body>
        {% block body %}{% end %}
        <script type="text/javascript" src="{{ static_url('js/lib/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/lib/semantic.min.js') }}"></script>
        {% block universal_scripts %}{% end %}
        {% block scripts %}{% end %}
    </body>
</html>
