{% extends "navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <h1>Sverige - Topp 3</h1>
    <div class="computer ui huge divided list">
        <div class="item">
            <div class="right floated content">
                <p class="header">Poäng</p>
            </div>
            <i class="users icon"></i>
            <div class="content">
                <p class="header" style="margin-left: -6px;">Namn</p>
            </div>
        </div>
        {% for index, user in enumerate(top_users) %}
        <div class="item">
            {% if user_id == user.id %}
            <div class="right floated content">
                <b>{{ placements[user.id][1] }}</b>
            </div>
            <i class="user icon"></i>
            <div class="content">
                <b>{{ placements[user.id][0].__str__() + ". " + user.name }} (Nivå {{ placements[user.id][2] }})</b>
            </div>
            {% else %}
            <div class="right floated content">
                {{ placements[user.id][1] }}
            </div>
            <i class="user icon"></i>
            <div class="content">
                {{ placements[user.id][0].__str__() + ". " + user.name }} (Nivå {{ placements[user.id][2] }})
            </div>
            {% end %}
        </div>
        {% end %}
    </div>
    <h1>Sverige - Din placering</h1>
    <div class="computer only ui huge divided list">
        <div class="item">
            <div class="right floated content">
                <p class="header">Poäng</p>
            </div>
            <i class="users icon"></i>
            <div class="content">
                <p class="header" style="margin-left: -6px;">Namn</p>
            </div>
        </div>
        {% for index, user in enumerate(near_users) %}
        <div class="item">
            {% if user_id == user.id %}
            <div class="right floated content">
                <b>{{ placements[user.id][1] }}</b>
            </div>
            <i class="user icon"></i>
            <div class="content">
                <b>{{ placements[user.id][0].__str__() + ". " + user.name }} (Nivå {{ placements[user.id][2] }})</b>
            </div>
            {% else %}
            <div class="right floated content">
                {{ placements[user.id][1] }}
            </div>
            <i class="user icon"></i>
            <div class="content">
                {{ placements[user.id][0].__str__() + ". " + user.name }} (Nivå {{ placements[user.id][2] }})
            </div>
            {% end %}
        </div>
        {% end %}
    </div>
</div>
{% end %}

{% block scripts %}

{% end %}