{% extends "base.html" %}

{% block body %}
<div class="ui active dimmer">
    <div class="ui massive text loader">Piratjakten</div>
</div>
<input type="hidden" name="_authenticated" value="{{ authenticated }}">
<input type="hidden" name="_redirectURL" value="{{ redirect_url }}">
<input type="hidden" name="_codeID" value="{{ code_id }}">
{% module xsrf_form_html() %}
{% end %}

{% block scripts %}
<script src="{{ static_url('js/code.js') }}"></script>
{% end %}