<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="four wide column">
                <h4 class="ui inverted header">Piratjakten</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://piratpartiet.se/nyheter/valkomna-till-piratjakten/">Vad är detta?</a>
                    <a class="item" href="/privacy">Integritets policy</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">Piratpartiet</h4>
                <div class="ui inverted link list">
                    <a target="_blank" rel="noopener noreferrer" class="item" href="https://piratpartiet.se">Om oss</a>
                    <a target="_blank" rel="noopener noreferrer" class="item" href="https://ungpirat.se">Ung Pirat</a>
                    <a target="_blank" rel="noopener noreferrer" class="item" href="https://slutasnoka.nu">Sluta Snoka</a>
                    <a target="_blank" rel="noopener noreferrer" class="item" href="https://twitch.tv/piratvision">Pirat-TV</a>
                </div>
            </div>
            <div class="eight wide column">
                <a class="ui image" href="https://blipirat.nu"><img src="{{ static_url('img/piratpartiet.svg') }}"></a>
                <div class="ui inverted link list">
                    <a class="item" target="_blank" rel="noopener noreferrer" href="https://blipirat.nu"><h4 class="ui inverted header">Bli medlem nu!</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>