{% extends "base.html" %}

{% block title %}Logga in - Piratjakten{% end %}

{% block head %}
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .column {
        max-width: 450px;
    }
</style>
{% end %}

{% block body %}
<div id="fullBackground" class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            Återställ lösenord
        </h2>
        <form class="ui large form" method="post">
            {% module xsrf_form_html() %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail adress">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Återställ</div>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.ui.form').form({
            fields: {
                email: {
                    identifier  : 'email',
                    rules: [ { type: 'email', prompt: 'Ange en giltig email adress' } ]
                }
            }
        });
    });
</script>
{% end %}
