{% extends "navbar.html" %}

{% block content %}
<div class="ui two column stackable grid container">
    <div class="centered row">
        <div class="column">
            <div id="userCard" class="ui raised center aligned segment">
                <h1 class="ui header">{{ escape(user.name) }}</h1>
                <div class="ui purple indicating progress" data-value="{{ points }}" data-total="{{ next_level }}" id="progressLevel">
                    <div class="bar"></div>
                    <div class="label" style="top: 1 rem;">{{ next_level - points }} poäng till nästa nivå</div>
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ points }}
                    </div>
                    <div class="label">
                        Poäng
                    </div>
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ scan_count }}
                    </div>
                    <div class="label">
                        Scanningar
                    </div>
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ placement }}
                    </div>
                    <div class="label">
                        Rank
                    </div>
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        {{ level }}
                    </div>
                    <div class="label">
                        Nivå
                    </div>
                </div>
            </div>
            <a href="/map">
                <div id="mapButton" class="ui primary bottom attached icon button" tabindex="0">
                    <i class="map icon"></i>
                    Karta
                </div>
            </a>
        </div>
    </div>
    <!--
    <div class="centered row">
        <div class="column">
            <h1 class="ui centered header">Medaljer</h1>
        </div>
    </div>
    -->
</div>
<div id="activity" class="ui container">
    <h2 class="ui header">Aktivitet</h2>
    {{ extra_title }}
    {% for index, activity in enumerate(scans) %}
    <div class="ui icon message">
        <div class="content">
            <div class="header">
                <div class="ui left floated statistic">
                    <div class="value">
                        {{ activity.points }}
                    </div>
                    <div class="label">
                        Poäng
                    </div>
                </div>
                {% if type(activity) == Scan %}
                    {{ names[index] }} hittades av dig
                {% elif type(activity) == Claim %}
                    Du var först att scanna {{ names[index] }} och äger den nu
                {% else %}
                    Din {{ names[index] }} hittades av någon annan
                {% end %}
            </div>
            <p>Scannades {{ activity.created.strftime("%H:%M:%S, %Y-%m-%d") }}</p>
        </div>
        {% if type(activity) == Scan %}
            <i class="qrcode icon"></i>
        {% elif type(activity) == Claim %}
            <i class="flag outline icon"></i>
        {% else %}
            <i class="user circle outline icon"></i>
        {% end %}
    </div>
    {% end %}
</div>
<div id="nextLevel" style="visibility: hidden;">{{ next_level }}</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/dashboard.js') }}"></script>
{% end %}
