{% extends "navbar.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/lib/leaflet.css') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% end %}

{% block content %}
<div id="mapUser"></div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/leaflet.js') }}"></script>
<script src="{{ static_url('js/map.js') }}"></script>
{% end %}