{% extends "base.html" %}

{% block body %}
<div class="ui grid">
    <div class="computer only row">
        <div class="column">
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="item">
                        <img src="{{ static_url('img/icon.png') }}" />
                    </div>
                    <a href="/" class="item">Dashboard</a>
                    <a href="/charts" class="item">Topplistor</a>
                    <a href="/settings" class="item">Inställningar</a>
                    {% if admin == True %}
                        <a href="/admin" class="item">Administration</a>
                    {% end %}
                    <div class="right menu">
                        <a href="https://chat.piratpartiet.se/pp/" target="_blank" class="item">Chatt</a>
                        <a href="/sign-out" class="item">Logga ut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tablet mobile only row">
        <div class="column">
            <div class="ui fixed inverted menu">
                <a id="mobile_item" class="item"><i class="bars icon"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="ui sidebar vertical inverted menu">
    <a href="/" class="item">Dashboard</a>
    <a href="/charts" class="item">Topplistor</a>
    <a href="/settings" class="item">Inställningar</a>
    {% if admin == True %}
        <a href="/admin" class="item">Administration</a>
    {% end %}
    <a href="https://chat.piratpartiet.se/pp/" target="_blank" class="item">Chatt</a>
    <a href="/sign-out" class="item">Logga ut</a>
</div>
<div class="pusher">
    {% block content %}{% end %}
</div>
{% module Template("footer.html") %}
{% end %}

{% block universal_scripts %}
<script src="{{ static_url('js/navbar.js') }}"></script>
{% end %}