{% extends "navbar.html" %}

{% block content %}
<div id="main" class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <h3 class="ui dividing header">F.A.Q</h3>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Vad händer om jag ändrar email?
                </div>
                <div class="content">
                    <p class="transition hidden">Om du byter email så kommer din inloggning att ändras omedelbart och den nya emailen blir din nya inloggning. Ditt konto blir även overifierat igen och behöver verifieras på nytt. Se till att din email alltid stämmer överens med den på <a href="https://pirateweb.net">PirateWeb.</a></p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Vad händer om jag ändrar namn?
                </div>
                <div class="content">
                    <p class="transition hidden">Om du byter namn så kommer ingenting att förändras, förutom att namnet uppdateras. Namnet du väljer behöver inte stämma överens med ditt riktiga namn.</p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Vad menas med overifierat konto?
                </div>
                <div class="content">
                    <p class="transition hidden">Ett overifierat konto innebär att vi inte har hunnit bekräfta om du är medlem i Piratpartiet. Medan du är overiferad så kan du spela spelet men du kommer inte synas på någon topplista för andra.</p>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui top secondary pointing menu">
                <a class="active item" data-tab="profile">Profil</a>
                <a class="item" data-tab="email">Email</a>
                <a class="item" data-tab="password">Lösenord</a>
            </div>

            <!-- UUID for the user -->
            <input type="hidden" name="id" value="{{ user_id }}">

            <!-- Profile -->

            <div class="ui bottom active tab segment" data-tab="profile">
                <form id="profileForm" class="ui form">
                    {% module xsrf_form_html() %}
                    <div class="field">
                        <label>Namn</label>
                        <div class="fields">
                            <div class="sixteen wide field">
                                <input type="text" name="name" placeholder="{{username}}" value="{{username}}">
                            </div>
                        </div>
                    </div>
                    <div id="errorProfile" class="ui error message"></div>
                    <div id="successProfile" class="ui success message"></div>
                    <div class="ui submit button"><i class="save icon"></i> Spara ändringar</div>
                </form>
            </div>

            <!-- Email -->

            <div class="ui bottom tab segment" data-tab="email">
                <form id="emailForm" class="ui form">
                    {% module xsrf_form_html() %}
                    <div class="required field">
                        <label>Email</label>
                        <div class="fields">
                            <div class="sixteen wide field">
                                <input type="email" name="email" placeholder="{{email}}" value="{{email}}">
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Lösenord</label>
                        <div class="fields">
                            <div class="sixteen wide field">
                                <input type="password" name="password" placeholder="Lösenord">
                            </div>
                        </div>
                    </div>
                    <div id="errorEmail" class="ui error message"></div>
                    <div id="successEmail" class="ui success message"></div>
                    <div class="ui submit button"><i class="save icon"></i> Spara ändringar</div>
                </form>
            </div>

            <!-- Password -->

            <div class="ui bottom tab segment" data-tab="password">
                <form id="passwordForm" class="ui form">
                    {% module xsrf_form_html() %}
                    <div class="required field">
                        <label>Byt lösenord</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="password" name="password1" placeholder="Nytt lösenord">
                            </div>
                            <div class="field">
                                <input type="password" name="password2" placeholder="Bekräfta nytt lösenord">
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Lösenord</label>
                        <div class="fields">
                            <div class="sixteen wide field">
                                <input type="password" name="password" placeholder="Lösenord">
                            </div>
                        </div>
                    </div>
                    <div id="errorPassword" class="ui error message"></div>
                    <div id="successPassword" class="ui success message"></div>
                    <div class="ui submit button"><i class="save icon"></i> Spara ändringar</div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/lib/jquery.serialize-object.min.js') }}"></script>
<script src="{{ static_url('js/settings.js') }}"></script>
{% end %}