{% extends "base.html" %}

{% block title %}Logga in - Piratjakten{% end %}

{% block head %}
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .column {
        max-width: 450px;
    }
</style>
{% end %}

{% block body %}
<div id="fullBackground" class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="{{ static_url('img/logo.svg') }}" class="image">
            <div class="content">
                Logga in till Piratjakten
            </div>
        </h2>
        <form class="ui large form" method="post">
            {% module xsrf_form_html() %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail adress">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Lösenord">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Logga in</div>
            </div>

            {% if error is not "" %}
            <div class="ui visible icon error message">
                <i class="exclamation circle icon"></i>
                {{ error }}
            </div>
            {% end %}
        </form>
        <div class="ui message">
            Inte registrerad? <a href="/sign-up">Registrera här</a>.
            <br/>
            <br/>
            Glömt lösenordet? <a href="/forgot-password">Återställ det här</a>.
            <br />
            <br />
            <a href="https://piratpartiet.se/nyheter/valkomna-till-piratjakten/">Vad är Piratjakten?</a>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.ui.form').form({
            fields: {
                email: {
                    identifier  : 'email',
                    rules: [ { type: 'email', prompt: 'Ange en giltig email adress' } ]
                },
                password: {
                    identifier  : 'password',
                    rules: [ { type : 'empty', prompt: 'Ange ditt lösenord' } ]
                }
            }
        });
    });
</script>
{% end %}
