{% extends "base.html" %}

{% block title %}Registrering - Piratjakten{% end %}

{% block head %}
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
</style>
{% end %}

{% block body %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="{{ static_url('img/logo.svg') }}" class="image">
            <div class="content">
                Registrera konto till Piratjakten
            </div>
        </h2>
        <form class="ui large form" method="post">
            {% module xsrf_form_html() %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Användarnamn">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail adress">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Lösenord">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password2" placeholder="Upprepa lösenord">
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="confirmPrivacy" tabindex="0" class="hidden">
                        <label>
                            Jag har läst och godkänner
                            <a target="_blank" rel="noopener noreferrer" href="/privacy">integritets policyn</a>
                        </label>
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Registrera</div>
            </div>
            {% if error is not "" %}
            <div class="ui visible icon error message">
                <i class="exclamation circle icon"></i>
                {{ error }}
            </div>
            {% end %}
        </form>
    </div>
</div>
{% end %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.ui.checkbox').checkbox();

        $('.ui.form').form({
            fields: {
                name: {
                    identifier  : 'name',
                    rules: [ { type: 'empty', prompt: 'Ange ditt namn' } ]
                },
                email: {
                    identifier  : 'email',
                    rules: [ { type: 'email', prompt: 'Ange en giltig email adress' } ]
                },
                password: {
                    identifier  : 'password',
                    rules: [ { type : 'empty', prompt: 'Ange ditt lösenord' } ]
                },
                password2: {
                    identifier  : 'password2',
                    rules: [ { type : 'empty', prompt: 'Ange ditt lösenord' } ]
                },
                confirmPrivacy: {
                    identifier  : 'confirmPrivacy',
                    rules: [ { type : 'checked', prompt: 'Du måste godkänna integritetspolicyn för att gå vidare' } ]
                }
            }
        });
    });
</script>
{% end %}
